.ceateUserBtn{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 80px;
    height: 35px;
    width: 460px;
  
}
.deleteUserBtn{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 460px;
    height: 35px; 
    margin-bottom: 10px;
    margin-top: 30px;
    

}
input{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}
.updateUserBtn{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    width: 460px;


}
.deleteUserLabel{
    margin-top: 15px;
    margin-bottom: -10px;
}
.updateUserLabel{
    
    margin-top: 15px;
    margin-bottom: -10px;
    
}
.viewUsersBtn{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 460px;
    margin:auto;
    height: 35px;
    margin-top: 15px;



}
.insertBtn{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 460px;
    margin:auto;
    height: 35px;
    margin-top: 15px;

}
.backBtn{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 460px;
    margin:auto;
    height: 35px;
    margin-top: 15px;

}
